.profile-button {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.main-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: flex-start;
    align-items: stretch;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.card-description {
    margin-top: 20px;
}

.buttonbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    font-size: 20px;
}

.cus-navbar {
    position: absolute;
    top: 10px;
    width: 100%;
    background-color: transparent !important;
    color: #fff !important;
}

.cus-navbar .nav-link {
    color: #fff;
}

.cus-brand {
    color: #635e5e !important;
    background-color: #fff;
    padding: 10px;
}

.cus-brand:hover {
    color: #635e5e !important;
    background-color: #e9d4d4;
    padding: 10px;
}

.mainbo {
    position: relative;
}



.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;

}

.form-box h1 {
    color: #fff;
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 600;
}

.form-check {
    margin-top: 10px;
    color: #fff;
}

.navbar-nav li:hover {
    background-color: #157347;
}

.navbar-nav li:hover a {
    color: #fff;
}

.errorMessage {
    color: red;
}

.banner-box {
    width: 100%;
    height: 641px;
    background: url('https://images.unsplash.com/photo-1705411394725-9f76e0979e4b?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.img-preview {
    width: 100px;
    height: 100px;
}

@media screen and (max-width:600px) {
    .form-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

    }
}